* {
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #567b95 solid;
  border-top: 1px #567b95 solid;
  padding: 5px;
}
.search {
  flex: 1;
  justify-content: space-around;
}
.icon {
  width: 20px;
  height: 20px;
}
.icon1 {
  width: 18px;
  height: 18px;
}
.link1 {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-letter-spacing: 0.7px;
  -moz-letter-spacing: 0.7px;
  -ms-letter-spacing: 0.7px;
  letter-spacing: 0.7px;
  line-height: 19px;
}
.link1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.logo-div {
  flex: 1;
}
.logo-top {
  width: 225px;
  height: 29px;
}
.btn {
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  -webkit-letter-spacing: 0.05em;
  -moz-letter-spacing: 0.05em;
  -ms-letter-spacing: 0.05em;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
  text-transform: uppercase;
}
.top-header {
  position: relative;
  left: 30%;
  max-width: 383.777px;
  text-align: left;
}
main {
  width: 70%;
  margin: 0 auto;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}
.photo-container {
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
#img1 {
  width: 100%;
  height: 100%;
  margin: 5px;
}
.footer-photo {
  font-size: 13.25px;
}

.author-container {
  float: left;
}

.author {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 2rem;
}

.author-name {
  color: black;
}

.author-name:hover {
  text-decoration: none;
}

.social-media {
  float: right;
  cursor: pointer;
}

.aside-right{
  position:absolute;
  right: 5%;
}

.text {
  clear: both;
  padding-top: 2rem;
}

.round-icon {
  width: 27px;
  height: 27px;
  background-color: lightgray;
  border-radius: 50%;
}

.text-container {
  width: 60%;
  margin: 0 auto;
  line-height: 1.6;
}

.text-container p {
  font-size: 20px;
  margin-bottom: 1rem;
}

.text-container h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.text-container a {
  color: #326891;
}

.text-container a:hover {
  text-decoration: none;
}

.unlock-content {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.unlock-content p {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.unlock-content a {
  text-decoration: none;
}

.content-border {
  width: 75px;
  margin: 0 auto;
}

.theory-iframe {
  border: none;
}

.video {
  height: 357px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.video-iframe {
  width: 100%;
  height: 100%;
}

.telescope-img-container {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.telescope-img {
  max-width: 100%;
}

.big-btn {
  width: 330px;
}
.article-date-footer {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.comments {
  margin-bottom: 3rem;
}

.grid-img {
  width: 100%;
}
.related-articles-header {
  border-top: 1px solid black;
  width: 60%;
  margin-left: 10%;
  padding-top: 17px;
  padding-bottom: 15px;
}

.related-articles-header a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: black;
}

.related-articles-header a:hover {
  text-decoration: underline;
}

.related-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 60%;
  margin-left: 10%;
  margin-bottom: 2rem;
}

.most-popular {
  float: right;
  width: 25%;
  margin-right: 2%;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 19px;
  border-top: 1px solid black;
}

.most-popular div {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 15px 0;
}

.most-popular h2 {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

.footer-img {
  font-size: 0.625rem;
  text-align: right;
  padding-right: 5px;
  margin-top: 5px;
  color: #999;
}
.title {
  font-size: 1.125rem;
  margin-top: 10px;
}
.date-img {
  color: #999;
  font-size: 12px;
  text-align: left;
  margin-top: 7px;
}

.editors-pick-header {
  border-top: 1px solid black;
  width: 60%;
  margin-left: 10%;
  padding-top: 17px;
  padding-bottom: 15px;
}

.editors-pick {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 60%;
  margin-left: 10%;
  margin-bottom: 2rem;
}

footer {
  margin: 0 8%;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  text-align: center;
  border-top: 3px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
}

.logo-div {
  float: left;
}

.logo-bottom {
  width: 184px;
}

.home-page-container {
  float: right;
}

.home-page {
  cursor: pointer;
  font-size: 12px;
  color: #999;
}

.icons-list {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.footer-columns {
  padding-top: 5rem;
}

.footer-columns div {
  vertical-align: top;
}

.footer-columns ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-columns a {
  color: black;
  text-decoration: none;
}

.footer-columns a:hover {
  text-decoration: underline;
}

.inline {
  display: inline-block;
  width: 16%;
  text-align: left;
  height: 350px;
}

.inline li {
  line-height: 1.5;
}

.list-title {
  margin-bottom: 1rem;
}

.subscribe {
  padding-left: 1rem;
  border-left: 1px solid rgb(190, 190, 190);
}

.subscribe-bold-container {
  margin-bottom: 1rem;
}

.subscribe-middle-container {
  border-bottom: 1px solid rgb(190, 190, 190);
}

.subscribe-middle-container li, .subscribe-end-container li {
  font-size: 12px;
  margin: 0.5rem 0;
}

.bold-li {
  font-weight: bold;
  font-size: 18px;
}

.end {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 1rem auto;
  margin-bottom: 5rem;
}

.end a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}

.end a:hover {
  text-decoration: underline;
}

.expand-wrapper {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 50px;
  border-top: 1px solid black;
  bottom: 0;
}

.expand-container {
  margin: 1rem auto;
  width: 90%;
  text-align: center;
}

.expand {
  float: right;
}

.expand span {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.expand-text {
  display: inline-block;
  
}

.expand-btn {
  background-color: #fff;
  border: none;
}

.expand-btn-icon {
  cursor: pointer;
  transform: rotate(-90deg);
}
.editors-card{
  width: 250px;
  height: 78px;
}
.editors-img{
  width: 75px;
  height: 75px;
}
.editors-card p {
  width: 155px;
  height: 51px;
}