*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #567b95 solid;
    border-top: 1px #567b95 solid;
    padding: 5px;
}
.search{
    flex: 1;
    justify-content: space-around;
}
.icon{
    width: 20px;
    height: 20px;
}
.icon1{
    width: 18px;
    height: 18px;

}
.link1{
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-letter-spacing: 0.7px;
    -moz-letter-spacing: 0.7px;
    -ms-letter-spacing: 0.7px;
    letter-spacing: 0.7px;
    line-height: 19px;
}
.link1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.logo-div{
    flex: 1;
}
.logo-top{
    width: 225px;
    height: 29px;
}
.subscribe{
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    -webkit-transition: ease 0.6s;
    transition: ease 0.6s;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    padding: 11px 12px 8px;
    text-transform: uppercase;
}
.top-header{
    position: relative;
    left: 30%;
    max-width: 383.777px;
    text-align: left;
}
main{
    width: 70%;
    margin: 0 auto;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
.photo-container{
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
#img1{
    width: 100%;
    height: 100%;
    margin: 5px;
}
.footer-photo{
    
    font-size: 13.25px;
}

.author-container {
    float: left;
}

.author {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 2rem;
}

.author-name {
    color: black;
}

.author-name:hover {
    text-decoration: none;
}

.social-media {
    float: right;
}

.text {
    clear: both;
    padding-top: 2rem;
}

.round-icon {
    width: 27px;
    height: 27px;
    background-color: lightgray;
    border-radius: 50%;
}

.text-container {
    width: 60%;
    margin: 0 auto;
    line-height: 1.6;
}

.text-container p {
    font-size: 20px;
    margin-bottom: 1rem;
}

.text-container h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.text-container a {
    color: #326891;
}

.text-container a:hover {
    text-decoration: none;
}

.unlock-content {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.unlock-content p {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.unlock-content a {
    text-decoration: none;
}

.content-border {
    width: 75px;
    margin: 0 auto;
}

.theory-img-container {
    text-align: center;
}

.theory-img-container img {
    margin: 0 auto;
    max-width: 100%;
    width: 945px;
    height: 576px;
    display: block;
    position: absolute;
}

.universe-div {
    width: 228px;
    height: 120px;
    display: inline-block;
    font-size: 1rem;
    line-height: 17px;
}

.universe-div span {
    font-weight: bold;
}

.universe-div:nth-child(1){
    top: 24.8264%;
    left: 25.5619%;
    width: 228px;
}
